$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
  font-family: 'Corben', Georgia, Times, serif;
  text-align: center;
}

body {
  background-color: #808080;
}

#error-message {
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 20px;
  text-align: center;
}
